<launch>
    <arg name="vehicle_name" default="bluerov" />
    <!-- Vehicle spawn position so that tags are seen -->
    <arg name="x" default="0.7" />
    <arg name="y" default="2.0" />
    <arg name="z" default="-0.7" />
    <arg name="P" default="0.0" />
    <arg name="R" default="0.0" />
    <arg name="Y" default="1.57" />

    <include file="$(find bluerov_sim)/launch/gazebo_base.launch" />

    <!-- spawn tank and AprilTags -->
    <include file="$(find bluerov_sim)/launch/spawn_tank.launch"/>
    

    <group ns="$(arg vehicle_name)">
        <!-- spawn BlueROV model -->
        
        <include file="$(find bluerov_sim)/launch/spawn_vehicle.launch">
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="R" default="$(arg R)" />
            <arg name="P" default="$(arg P)" />
            <arg name="Y" default="$(arg Y)" />
        </include>

        
        <!--Our Range Sensor that publishes distances to anchors />      
        <node name="keyboard" pkg="bluerov_sim" type="keyboard_control.py"/> 

        <node name="localization" pkg="autonomous_navigation" type="position.py" />

        <node name="center_pos" pkg="autonomous_navigation" type="center_position.py" />

        <node name="controllerxy" pkg="autonomous_navigation" type="controllerxy.py" /> 
        <node name="controllerz" pkg="autonomous_navigation" type="controllerz.py" />
        <node name="controllerYaw" pkg="autonomous_navigation" type="controllerYaw.py" />

        <node name="input" pkg="autonomous_navigation" type="input.py" />
        -->
       
        <include file="$(find bluerov_sim)/launch/range_sensor.launch"/>

        <node name="setpoint" pkg="autonomous_navigation" type="pose_setpoint.py" /> 

        <node name="depth_calc" pkg="autonomous_navigation" type="depth_calculator.py" /> 
        <node name="depth_est" pkg="autonomous_navigation" type="depth_estimator.py" /> 
        
        <node name="cameraDistance" pkg="autonomous_navigation" type="cameraDistance.py" />
        <node name="controllerYaw" pkg="autonomous_navigation" type="controllerYaw.py" />


        <node name="mixer" pkg="bluerov_sim" type="mixer.py" />  
        
    </group>

</launch>
